@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Presets */
:root {
	--font-main: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI',
		'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue',
		Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol';
	--font-special: Georgia, 'Source Han Serif SC', STZhongsong, 'Times New Roman',
		Times, PMingLiu, STSong, SimSun, 'WenQuanYi Bitmap Song', 'Noto Serif CJK',
		serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	--font-code: JetBrainsMono, 'Source Code Pro', Monaco, Menlo, Consolas,
		'Courier New', Courier, monospace;

	--color-primary: #000;
	--color-secondary: #fff;
	--color-dark: #333;
	--color-light: #f4f4f4;
	--color-success: #5cb85c;
	--color-error: #d9534f;
}

body {
	background-color: var(--color-secondary);
	font-family: var(--font-main);
	height: 100%;
	margin: 0;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: var(--color-primary);
}

p {
	margin: 10px 0;
}

img {
	width: 100%;
}

/* Utils */

.wrapper {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 40px;
	flex-direction: column;
}

.flex {
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}